<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832564853741-tii4df5aj421heog8pkvi7lf3pkrc5ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832564853741-tii4df5aj421heog8pkvi7lf3pkrc5ub</string>
	<key>API_KEY</key>
	<string>AIzaSyDM1SxTDJpm8W1Yu2Uu3CpYP9cUUaPADp8</string>
	<key>GCM_SENDER_ID</key>
	<string>832564853741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onepersontwitter</string>
	<key>PROJECT_ID</key>
	<string>onepersontwitter-9d820</string>
	<key>STORAGE_BUCKET</key>
	<string>onepersontwitter-9d820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832564853741:ios:e5e708f804f7d37eed05e4</string>
</dict>
</plist>